* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.AboutUS {
  width: 100vw;
  height: 85vh;
  /* background-image: url("../components/Assets/images/ladies.jpg"); */
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.331), rgba(18, 105, 50, 0.73)),
    url('../components/Assets/images/ladies.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: -2;
  color: white !important;
}

.aboutContainer h4 h2 {
  color: white !important;
}

.aboutContainer {
  position: absolute;
  left: 2%;
  top: 35%;
  width: 320px;
  height: fit-content;
  box-shadow: 3px 3px 3px goldenrod;
  padding: 30px 20px;
  /* text-align: center; */
  border: 4px solid gray;
  font-size: 20px;
  z-index: -2;
}

.aboutContent {
  padding: 40px 160px;
  text-align: center;
  font-size: 18px;

}

.titleN {
  font-size: 32px;
  font-weight: 800;

}

.aboutContent h2,
.aboutTitle span {
  color: #63c49a;
  font-size: 24px;
}

.aboutTitle span {
  font-size: 32px;
}

.aboutTitle {
  position: absolute;
  left: 7%;
  top: 26%;

}

.btnQ {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.btnQ Button {
  border: 4px solid #63c49a;
  margin-top: 20px;
  padding: 16px 20px;
  z-index: -2;
  cursor: pointer;
}

.btnQ Button:hover {
  background-color: goldenrod;
}

.btnQ1 {
  background-color: #63c49a;
  color: white;
}

.ButtonbtnQB  {
  border: 2px solid #63c49a;
  color: grey;
  padding: 12px 20px;
  z-index: -2;
  cursor: pointer;
}

.ButtonbtnQB {
  
}

.meetOurTeam {
  display: flex;
  justify-content: center;
}